@font-face {
  font-family: "iransans";
  src: url(/src/fonts/woff2/IRANSansX-Regular.woff2) format("woff2");
}
$text-color: #787878;
$base-border-radius: 10px;

body {
  font-family: "iransans" !important;
  text-align: right;
}
button {
  all: unset;
  cursor: pointer;
}

.card-box {
  padding: 1rem;
  background: #ffffff;
  border: 1px solid #e1e3e6;
  box-shadow: 0px 4px 2px -2px rgba(27, 46, 94, 0.02);
  border-radius: 8px;
  transition: all 0.45s ease;
  overflow: hidden;
  position: relative;
 

  &__icons {
    position: absolute;
    cursor: pointer;
    left: 18px;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.45s ease;
    transform: translateX(-70px);
    .card-box:hover & {
      transform: translateX(0);
    }
    span {
      padding: 5px 8px;
      box-shadow: 0 0 6px 0px #0000001a;
      border-radius: 5px;
      text-align: center;
    }
  }

  &__img {
    position: relative;
    border-radius: $base-border-radius;
    overflow: hidden;
    transition: all 0.45s ease;
    transform-origin: top right;
    .card-box:hover & {
      transform: scale(0.85);
    }
    img {
      width: 100%;
      height: 100%;
    }
    &__favorite {
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 5px;

      /* White */
      width: 32px;
      height: 32px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      border-radius: 8px;
      i {
        height: 16px;
      }
    }
  }
  &__details {
    transition: all 0.45s ease;
    .card-box:hover & {
      transform: translateY(-50px);
    }
  }
  &__title {
    font-size: 1.2rem;
    margin-top: 0.5em;
    color: $text-color;
    font-weight: 600;
  }
  &__category {
    font-size: 0.8rem;
    color: lighten($text-color, 20%);
  }
  &__price {
    display: flex;
    color: $text-color;
  }
  &__desc {
    overflow: hidden;
    transition: all 0.55s ease;
    font-size: 0.75rem;
    color: $text-color;
   
  }
  &__basket {
    transition: all 0.55s ease;
    bottom: 0;
    position: absolute;
    transform: translateY(110%);
    left: 0;
    right: 0;
    margin: 5px;
    .card-box:hover & {
      transform: translateY(0);
    }
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 48px;
      color: white;
      transition: background-color 0.9s ease;
      background: linear-gradient(180deg, #6989fe 0%, #3c64f4 100%);
      border-radius: 8px;
      &:hover {
        background: linear-gradient(
          180deg,
          darken(#6989fe, 20%) 0%,
          darken(#3c64f4, 20%) 100%
        );
      }
    }
  }
}
